@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2"), format("woff2");
  font-display: swap;
}

@theme {
  --font-Primary: "Nunito", system-ui, sans-serif;
  --font-Secundary: "NunitoSans", system-ui, sans-serif;
}