@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.woff2"), format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2"), format("woff2");
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-Primary: "Nunito", system-ui, sans-serif;
  --font-Secundary: "NunitoSans", system-ui, sans-serif;

  /* Colors */
  --color-primary-strong-950: #293241;
  --color-primary-Neutral-900: #163A34;
  --color-primary-Neitral-800: #395852;
  --color-primary-Neutral-600: #395852;
  --color-primary-Neutral-300: #D0DCD9;
  --color-primary-Neutral-200: #E0E6E3;
  --color-primary-Neutral-100: #F6F5F1;
  --color-primary-Neutral-0: #fff;

  /* Orange, Teal, Indigo */
  --color-primary-Orange-500: #FE9F6B;
  --color-primary-Teal-500: #49AC9B;
  --color-primary-Indigo-500: #697DDB;

}

.navTitleEffect {
  @apply opacity-100 bg-primary-Orange-500 h-[3px] rounded-full transition-opacity duration-200
}

.menuSettings {
  @apply flex-col absolute p-2 rounded-lg top-16 left-1/2 -translate-x-1/2 border border-primary-Neutral-300 bg-primary-Neutral-0 w-[90%] shadow-[0_12px_22px_-12px_rgba(57,88,82,0.30)]
}

.browseButtom {
  @apply cursor-pointer h-14 w-40 rounded-[10px] font-bold bg-primary-Neutral-900  text-primary-Neutral-0 hover:bg-primary-Neitral-800 active:bg-primary-Neutral-900 active:shadow-[0_0_0_3px_#FFF,0_0_0_5px_#163A34]
}

.flex-center {
  @apply flex justify-center items-center
} 

  /* HOME */
/* Responsive Desings */

.hero-main-div{
  @apply max-md:text-start max-md:items-start
}
.home-title {
  @apply max-xl:text-6xl max-md:text-[52px] max-md:w-[344px] text-7xl
}
.home-main-text{
  @apply max-md:w-[344px]
}
.main-hero {
  @apply max-xl:max-w-full max-w-[1200px] max-md:max-w-[344px] transition-normal duration-200
}
.whatYoullGet-cards {
  @apply max-xl:flex-col flex-row w-full flex
}
.whatYoullGet-perArticle {
  @apply max-xl:w-full text-balance 
}

.builtForLife-section{
  @apply max-xl:flex-col max-xl:gap-10 
}
.builtForLife-text{
  @apply max-xl:max-w-[730px] max-md:max-w-[344px]
}
.builtForLife-img{
  @apply max-xl:max-w-full max-md:max-w-[344px] transition-normal duration-200
}
.builtForLife-underline{
  @apply max-xl:left-[570px] max-xl:top-20
}

/* Menu Items Styles */

.menu-buttom {
  @apply flex justify-center cursor-pointer max-w-[200px] max-md:max-w-full hover:border-primary-Neutral-900 text-primary-Neutral-900 font-semibold text-lg items-center bg-primary-Neutral-0 p-[10px_16px] border border-primary-Neutral-300 rounded-[10px] gap-2
}

.menu-radio-group {
  @apply bg-primary-Neutral-0 w-[200px] max-md:w-[250px] border border-primary-Neutral-300 rounded-t-lg shadow-[0_12px_22px_-12px_#E0E6E3]
}

.radio-input {
  @apply cursor-pointer p-2 flex gap-3 items-center hover:text-primary-Neutral-900 hover:bg-primary-Neutral-200/40
}

.radio-circle {
  @apply size-4 rounded-full border border-primary-Neutral-300 hover:border-primary-Neutral-200
}
.radio-circle-active {
  @apply flex justify-center items-center size-4 rounded-full border-2 border-primary-Neutral-900 transition ease-in duration-75
}
.inner-circle-active{
  @apply size-2 bg-primary-Neutral-900 rounded-full
}